$break-extra-small: 370px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: Helvetica;
}
a {
  &:hover {
    text-decoration: none;
  }
}
@mixin main-title-default() {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  color: #12162e;
}
@mixin main-title-color($color) {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  color: $color;
}
@mixin main-title-color-size($color, $size) {
  font-size: $size;
  font-weight: bold;
  text-align: center;
  color: $color;
}
@mixin btn-hover() {
  &:hover {
    background-color: #ff8a57;
    transform: translate(0, -1px);
    box-shadow: 2px 2px 3px rgba(36, 180, 126, 0.4);
  }
}
