.blog {
  .title {
    @include main-title-default();
  }
  .line {
    height: 1px;
    opacity: 0.2;
    background-color: #9da8b9;
  }
  .time {
    font-size: 1.125rem;
    line-height: 1.78;
    color: #9da8b9;
  }
  .blog-title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.33;
    color: #3b4858;
  }
  button {
    font-size: 1.125rem;
    min-width: 190px;
    font-weight: bold;
    background-color: #0d002a;
    color: white;
    @include btn-hover();
  }
}
@import "../responsive/_blog-responsive";
