.feature {
    .logo {
        color: #292944;
    }
    .feature-container {
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #737086;
        margin: 10px;
        .feature-title {
            opacity: 0.8;
            font-size: 1.125rem;
            font-weight: 600;
            text-align: center;
            color: #12162e;
        }
        .feature-description {
            opacity: 0.8;
            font-size: 0.875rem;
            text-align: center;
            color: #556574;
        }
    }
}
@import '../responsive/_feature-responsive';