.investing {
    .top {
        .description {
            .text {
                @include main-title-default();
                max-width: 920px;
                padding: 0 10%;
            }
        }
        .commit {
            .text {
                max-width: 920px;
                font-size: 1.5rem;
                color: #6d7189;
                padding: 0 8%;
            }
        }
        .line {
            opacity: 0.8;
            height: 1px;
            color: #9da8b9
        }
    }
    .bottom {
        .title {
            font-size: 1.125rem;
            font-weight: bold;
            text-align: center;
            color: #443f54;
        }
        .description {
            font-size: 0.875rem;
            line-height: 2;
            text-align: center;
            color: #737086;
        }
    }
}
@import '../responsive/_investing-responsive';