.join-heta {
    button {
        max-width: 80%;
        height: 60px;
        border-radius: 10px;
        background-color: #0d002a;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        @include btn-hover();
    }
}
@import '../responsive/_join-heta-responsive';