.network {
  background-color: #666e79;
  #solar-system {
    canvas {
      background-image: url('../../textures/stars.jpg');
    }
  }
  #solar-system-img {
    display: none;
  }
  .title {
    top: 15%;
    right: 0;
    left: 0;
    z-index: 2;
    font-size: 1.9rem;
    font-weight: 550;
    text-align: center;
    color: #ffffff;
  }
  .bottom {
    top: 60%;
    right: 0;
    left: 0;
    z-index: 3;
    .description {
      font-size: 1.9rem;
      font-weight: 550;
      text-align: center;
      color: #ffffff;
    }
    .action {
      button {
        min-width: 190px;
        height: 40px;
        border-radius: 5px;
        font-size: 1.125rem;
        text-align: center;
      }
      .btn-1 {
        background-color: #ff9f1c;
        color: #ffffff;
        &:hover {
          background-color: #ffbb60;
        }
      }
      .btn-2 {
        background-color: #ffffff;
        color: #ff9f1c;
        &:hover {
          color: #ffbb60;
        }
      }
    }
  }
  .video {
    z-index: 2;
    height: 300px;
    transform: translate(0, -52.5%);
    img {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
@import "../responsive/_network-responsive";
