.team-partner {
    background-color: #f6f9fb;
    .title {
        @include main-title-default();
    }
    .sub-title {
        @include main-title-color-size(#3b4858, 1.5rem);
    }
    hr {
        background-color: rgba(13, 0, 42, 0.1);
    }
    .co-founding {
        .founder-container {
            img {
                max-width: 190px;
                max-height: 190px;
            }
            .name {
                opacity: 0.8;
                font-size: 1.125rem;
                font-weight: 600;
                color: #12162e;
            }
            .position {
                opacity: 0.8;
                font-size: 0.875rem;
                font-weight: 600;
                color: #536473;
            }
        }
    }
}
@import '../responsive/_team-partner-responsive';