.timeline-roadmap {
    background-color: #fff6f7;
    .title {
        @include main-title-color(#f0501d);
    }
    hr {
        height: 1px;
        background-color: rgba(13, 0, 42, 0.1);
    }
    .timeline {
        table {
            .radar-circle {
                top: 0;
                right: 0;
                transform: translate(50%, -50%);
            }
            .month {
                font-size: 1.2rem;
                line-height: 1.33;
                color: #3b4858;
                padding-bottom: 0.5rem;
            } 
            .year {
                font-size: 2rem;
                font-weight: 500;
                line-height: 0.67;
                color: #3b4858;
            }
            .content {
                font-size: 1.25rem;
                line-height: 1.6;
                vertical-align: top;
                color: #6d7189;
                p {
                    padding-bottom: 2rem;
                }
            }
            tr {
                opacity: 0;
                & > :first-child {
                    padding-right: 4rem !important;
                    vertical-align: top;
                    position: relative;
                    img {
                        opacity: 0.99;
                        width: 13%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: translate(50%, -50%);
                    }
                }
            }
            .lastest {
                p {
                    min-height: 150px !important;
                }
                td {
                    border: none !important;
                }
            } 
        }
    }
    button {
        width: 90%;
        border-radius: 10px;
        border: none;
        background-color: #0d002a;
        font-size: 1.5rem;
        font-weight: 500;
        color: #ffffff;
        &:hover {
            cursor: pointer;
        }
    }
}
.lz-load {
    animation-name: lz-load;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    -webkit-animation-name: lz-load;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: lz-load;
    -moz-animation-duration: 2s;
    -moz-animation-fill-mode: forwards;
}
@keyframes lz-load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes lz-load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes lz-load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.lz-load-border {
    animation-name: lz-load-border;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    -webkit-animation-name: lz-load-border;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: lz-load-border;
    -moz-animation-duration: 2s;
    -moz-animation-fill-mode: forwards;
}
@keyframes lz-load-border {
    from {
        border-right: 1px rgba(13, 0, 42, 0) solid;
    }
    to {
        border-right: 1px rgba(13, 0, 42, 1) solid;
    }
}
@-moz-keyframes lz-load-border {
    from {
        border-right: 1px rgba(13, 0, 42, 0) solid;
    }
    to {
        border-right: 1px rgba(13, 0, 42, 1) solid;
    }
}
@-webkit-keyframes lz-load-border {
    from {
        border-right: 1px rgba(13, 0, 42, 0) solid;
    }
    to {
        border-right: 1px rgba(13, 0, 42, 1) solid;
    }
}
@import '../responsive/_timeline-roadmap-responsive';