@media (max-width: $break-medium) {
    .blog {
        .text-center {
            .title {
                font-size: 1.875rem;
            }
        }
    }
}
@media (max-width: $break-small) {
    .blog {
        .text-center {
            padding: 1rem 0 !important;
            .title {
                font-size: 1.5rem;
                padding: 2em 0 !important;
            }
        }
    }
}
