@media (max-width: $break-small - 1) {
    .building{
        .container {
            display: block !important;
            .bg-img {
                padding-top: 4rem;
                position: relative !important;
            }
            .title {
                font-size: 1.5rem !important;
            }
            .description {
                font-size: 1rem !important;
            }
        }
    }
}
@media (max-width: 400px) {
    .building{
        .container {
            .title {
                font-size: 1.3rem !important;
            }
        }
        .content button {
            min-width: 300px !important;
        }
    }
}
@media (max-width: 354px) {
    .building{
        .container {
            .title {
                font-size: 1.1rem !important;
            }
            .description {
                font-size: 0.875rem !important;
            }
        }
        .content button {
            min-width: 250px !important;
        }
    }
}
@media (min-width: $break-small) and (max-width: $break-medium - 1) {
    .building{
        .title {
            font-size: 1.2rem !important;
        }
        .description {
            font-size: 1rem !important;
        }
    }
}
@media (min-width: $break-medium) and (max-width: $break-large - 1) {
    .building{
        .title {
            font-size: 1.6rem !important;
        }
    }
}
@media (min-width: $break-large) and (max-width: $break-extra-large) {
    .building{
        .title {
            font-size: 2.1rem !important;
        }
    }
}