@media (max-width: $break-extra-small) {
    .footer {
        a {
            font-size: 0.5rem !important;
            padding: 8px 3px !important;
        }
        .copy-right {
            font-size: 0.5rem !important;
        }
    }
}
@media (min-width: $break-extra-small) and (max-width: $break-small) {
    .footer {
        a {
            font-size: 0.6rem !important;
            padding: 8px 5px !important;
        }
        .copy-right {
            font-size: 0.6rem !important;
        }
    }
}
@media (min-width: $break-small) and (max-width: $break-medium) {
    .footer {
        a {
            font-size: 0.7rem !important;
            padding: 8px 10px !important;
        }
        .copy-right {
            font-size: 0.7rem !important;
        }
    }
}
@media (min-width: $break-extra-large) {
    .footer {
        ul {
            max-width: $break-large;
        }
    }
}