@media (max-width: $break-extra-small) {
  .network {
    .title {
      top: 10%;
      font-size: 1rem;
    }
    .bottom {
      top: 65%;
      .description {
        font-size: 0.875rem;
      }
      .action {
        button {
          padding: 0 !important;
          min-width: 110px;
          height: 20px;
          font-size: 0.75rem;
        }
      }
    }
    .video {
      height: 150px;
      .play-img {
        width: 30px;
      }
    }
  }
}
@media (min-width: $break-extra-small) and (max-width: $break-small - 1) {
  .network {
    .title {
      top: 10%;
      font-size: 1rem;
    }
    .bottom {
      top: 70%;
      .description {
        font-size: 0.875rem;
      }
      .action {
        button {
          padding: 0 !important;
          min-width: 110px;
          height: 20px;
          font-size: 0.75rem;
        }
      }
    }
    .video {
      height: 150px;
      .play-img {
        width: 40px;
      }
    }
  }
}
@media (min-width: $break-small) and (max-width: $break-medium - 1) {
  .network {
    .title {
      top: 10%;
      font-size: 1rem;
    }
    .bottom {
      top: 70%;
      .description {
        font-size: 1rem;
      }
      .action {
        button {
          padding: 0 !important;
          min-width: 110px;
          height: 20px;
          font-size: 0.875rem;
        }
      }
    }
    .video {
      height: 100px;
      .play-img {
        width: 40px;
      }
    }
  }
}
@media (max-width: $break-medium - 1) {
  .network {
    #solar-system {
      display: none;
    }
    #solar-system-img {
      display: block;
    }
  }
}
@media (min-width: $break-medium) and (max-width: $break-large - 1) {
  .network {
    .title {
      font-size: 1.5rem;
    }
    .bottom {
      top: 70%;
    }
    .description {
      font-size: 1.3rem;
    }
    .action {
      button {
        min-width: 170px;
        height: 35px;
        font-size: 1rem;
      }
    }
    .video {
      height: 200px;
      img {
        width: 60px;
      }
    }
  }
}
@media (min-width: $break-large) and (max-width: $break-extra-large) {
  .network {
    .title {
      font-size: 1.6rem;
    }
    .bottom {
      top: 67%;
    }
    .description {
      font-size: 1.6rem;
    }
  }
}
