@media (max-width: $break-small) {
    .network {
        button {
            min-width: 80px !important;
            font-size: 0.875rem !important;
        }
    }
}
@media (max-width: $break-small) {
    .network {
        button {
            min-width: 120px !important;
        }
        .description {
            font-size: 1.6rem !important;
        }
    }
}
@media (min-width: $break-large) {
    .network {
        .map {
            .map-bg {
                max-width: $break-large;
                margin: 0 auto;
            }
        }
    }
}