@media (max-width: $break-extra-small) {
    .smart-industries {
        .sub-title {
            font-size: 1rem !important;
        }
        .title {
            font-size: 1.3rem !important;
        }
    }
}
@media (min-width: $break-extra-small) and (max-width: $break-small) {
    .smart-industries {
        .sub-title {
            font-size: 1.5rem !important;
        }
        .title {
            font-size: 1.6rem !important;
        }
    }
}
@media (min-width: $break-small) and (max-width: $break-large) {
    .smart-industries {
        .sub-title {
            font-size: 1.8rem !important;
        }
        .title {
            font-size: 2.2rem !important;
        }
    }
}
@media (min-width: $break-large) and (max-width: $break-extra-large) {
    .smart-industries {
        .sub-title {
            font-size: 2rem !important;
        }
        .title {
            font-size: 3rem !important;
        }
    }
}